.book-card {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
}

.images {
  width: 70%;
  height: 90%;
  border-radius: 1rem;
}

.book-desc {
  width: 90%;
  height: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  grid-template-areas:
    "Title Author ."
    "Description Description ."
    ". . .";
}
.title {
  grid-area: Title;
  text-align: center;
}
.author {
  grid-area: Author;
  text-align: center;
}
.description {
  grid-area: Description;
  text-align: center;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .book-card {
    width: 80%;
  }
}
