.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #9868a7;
  color: white;
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}

.button--alt {
  color: #5a2137;
  background-color: #fff;
  border: 1px solid #5a2137;
}

.enabled:hover,
.enabled:active {
  color: #fff;
  background-color: #5a2137;
}
.button--alt:hover,
.button--alt:active {
  background-color: #ec4034;
}

.disabled {
  background-color: gray;
}

.disabled:hover,
.disabled:active {
  cursor: auto;
}
