.wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  left: 7%;
  top: 15vh;
  z-index: 100;
  overflow: hidden;
  padding: 1rem;
}

.form {
  width: 70%;
}
.form div {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.form div label {
  font-weight: bold;
  flex: 1;
  color: #464646;
}

.form div input {
  flex: 3;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form div input:focus {
  outline: none;
  border-color: #4d1601;
  background: #f0ebea;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background-color: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

@media (min-width: 768px) {
  .form div {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 25% 80%;
    gap: 2rem;
  }

  .wrapper {
    width: 60%;
    left: 20%;
    top: 17vh;
  }
}
